table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  /* border-spacing: 10px; - set space between borders. Not working when collapsed */
}

th,
td {
  padding: 4px;
  text-align: right;
}

table {
  width: 500px;
  margin: 16px;
}